/* override background image alignment/position */
#bg:after, #bg:before {
    background-position: top;
}

/* remove radial header shadow from theme */
#header {
  background-image: none;
  background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%)
}
